



body{
    background-color: navy;
}

.conteudo{
    background-color: white;
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 1.0rem;
}
.Adicionando{
    position: relative;
    font-size: 9rem;
    top: 1.5rem;;
}


.Adicionando input{
   border-radius: 5%;
   font-size: 1.0rem;
}

.Adicionando button {
    background-color: gold;
    color: white;
    border-radius: 5%;
    font-size: 1.5rem;
    position: relative;
    top: 0.3rem;
    right: 1.0rem;

}