



body{
    background-color: navy;
}

.conteudo{
    background-color: white;
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 1.0rem;
  }

  .Editando{
    position: relative;
    font-size: 9rem;
  }


  .Editando input{
   border-radius: 5%;
   font-size: 1.0rem;
  }


  .Editando button {
    background-color: gold;
    color: white;
    border-radius: 5%;
    font-size: 1.0rem;
    position: relative;

  }